$black:             #231f20;
$white:             #fff;

$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$text-color:        #5c6b80;

$link-color:        $black;
$link-hover:        darken($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;
$alert-red:			red;
$alert-green:		#645564;
$alert-blue:		blue;
$vids-blue: 			#69c;
$vids-orange: 		#ff7504;
$vids-anchorblue: 	#3366CC;
$vids-green: 		#69A61F;

$removeContnrMar: 	-15px;
$searchCntrlHeight: 40px;
