/******************************************************************

1240px and up

******************************************************************/

.container {
  width: 1240px;
}

.image-slider {
	max-height: 700px;
	img {
		width: 100%;
	}
}

/*
* Application-specific Media - start
*/

/*
* Application-specific Media - end
*/