/******************************************************************

481px and up

******************************************************************/

/*********************
POSTS & CONTENT STYLES
*********************/

.container {
	width: 550px;
}
.image-slider {
	max-height: 300px;
	img {
		width: 155%;
	}
}

/*
* Application-specific Media - start
*/

/*
* Application-specific Media - end
*/