main-nav {
  .container.remove-margin {
  	margin: 0px;
    padding: 0px;
    position: fixed;
    background-color: #fff;
    z-index: 1600;
    width: 100%;
    img.vids-product-img {
        text-align: left;
    }
    .header {
      margin-left: $removeContnrMar;
      margin-right: $removeContnrMar;

      img {
        display: inline-block;
      }
      nav {
        display: inline-block;
      }
      ul.nav {
        margin-top: 15px;
        margin-right: 10px;
        li a{
          font-size: $small;
          .logout-btn-img {
            background: url(/images/sprites16x16.png) no-repeat;
            background-position: -72px -4px;
            width: 16px;
            height: 16px;
            vertical-align: middle;
            display: inline-block;
            margin-left: 10px;
          }
        }
        li a:hover {
          color: $vids-blue;
        }
      }
    }    
  }
  .header-divider {
    border-top:1px solid $vids-blue;
    border-bottom:1px solid $vids-blue;
    height: 4px;
    margin-left: $removeContnrMar;
    margin-right: $removeContnrMar;
    margin-top: 70px;
  }
}
#main-wrapper {
  width: 100%;
  height: 100%;
}
.here-map {
  width: inherit;
  height: inherit;
  position: absolute;
}
