/******************************************************************

Author: Vidya Gundeti
Date: Dec 2016

******************************************************************/
/*********************
IMPORTING MODULES
*********************/

.H_ib {
  fill: white; }

.H_ib_body {
  background: white;
  bottom: 2.6em;
  margin-right: -3em;
  border: 1px solid #b8b8b8;
  box-shadow: 0px 0px 15px #888888; }
  .H_ib_body .H_ib_close .svg.H_icon {
    width: 1.5em;
    height: 1.5em;
    fill: gray; }

.H_ib_tail {
  bottom: 1.5em; }

cluster-icon {
  width: 25px;
  height: 25px;
  margin-top: -35px;
  margin-left: -15px;
  border-radius: 50%;
  background-color: #ee1515;
  box-shadow: 0px 0px 0px 5px #eebbb7; }
  cluster-icon .cluster-marker {
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    width: 25px;
    height: 25px;
    margin: 1px 2px 0 0; }

.map-marker {
  margin-top: -40px;
  margin-left: -28px; }

.map-marker:hover,
.cluster-marker:hover {
  cursor: pointer; }

.no_property_selected {
  font-size: 17px;
  text-align: center;
  margin: 30px auto; }

.map-marker.tempoff {
  position: relative;
  background: #a68ca2;
  border: 4px solid #a68ca2;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: bold; }

.map-marker.tempoff:after, .map-marker.tempoff:before {
  top: 92%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.map-marker.tempoff:after {
  border-top-color: #a68ca2;
  border-width: 15px;
  margin-left: -15px; }

.map-marker.tempoff.selected {
  border: 4px solid #a68ca2;
  font-size: 16px;
  margin-top: -50px;
  margin-left: -35px;
  padding: 4px; }

.map-marker.coming_soon {
  position: relative;
  background: #86939E;
  border: 4px solid #86939E;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: bold; }

.map-marker.coming_soon:after, .map-marker.coming_soon:before {
  top: 92%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.map-marker.coming_soon:after {
  border-top-color: #86939E;
  border-width: 15px;
  margin-left: -15px; }

.map-marker.coming_soon.selected {
  border: 4px solid #86939E;
  font-size: 16px;
  margin-top: -50px;
  margin-left: -35px;
  padding: 4px; }

.map-marker.active {
  position: relative;
  background: #BBCE47;
  border: 4px solid #BBCE47;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: bold; }

.map-marker.active:after, .map-marker.active:before {
  top: 92%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.map-marker.active:after {
  border-top-color: #BBCE47;
  border-width: 15px;
  margin-left: -15px; }

.map-marker.active.selected {
  border: 4px solid #BBCE47;
  font-size: 16px;
  margin-top: -50px;
  margin-left: -35px;
  padding: 4px; }

.map-marker.contract {
  position: relative;
  background: #a68ca2;
  border: 4px solid #a68ca2;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: bold; }

.map-marker.contract:after, .map-marker.contract:before {
  top: 92%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.map-marker.contract:after {
  border-top-color: #a68ca2;
  border-width: 15px;
  margin-left: -15px; }

.map-marker.contract.selected {
  border: 4px solid #a68ca2;
  font-size: 16px;
  margin-top: -50px;
  margin-left: -35px;
  padding: 4px; }

.map-marker.cntgno_ko {
  position: relative;
  background: #F59E2C;
  border: 4px solid #F59E2C;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: bold; }

.map-marker.cntgno_ko:after, .map-marker.cntgno_ko:before {
  top: 92%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.map-marker.cntgno_ko:after {
  border-top-color: #F59E2C;
  border-width: 15px;
  margin-left: -15px; }

.map-marker.cntgno_ko.selected {
  border: 4px solid #F59E2C;
  font-size: 16px;
  margin-top: -50px;
  margin-left: -35px;
  padding: 4px; }

.map-marker.cntgko {
  position: relative;
  background: #86939E;
  border: 4px solid #86939E;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: bold; }

.map-marker.cntgko:after, .map-marker.cntgko:before {
  top: 92%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.map-marker.cntgko:after {
  border-top-color: #86939E;
  border-width: 15px;
  margin-left: -15px; }

.map-marker.cntgko.selected {
  border: 4px solid #86939E;
  font-size: 16px;
  margin-top: -50px;
  margin-left: -35px;
  padding: 4px; }
